input{
    display: flex;
}

.formulario {
    padding: 10px;
    justify-content: center;
    position: relative;
}

.tituloFormulario {
    font-size: large;
    font-weight: bold;
    display: block;
    justify-content: center;
}

.checkControlado {
    display: flex;
    align-items: center;
}